/*STYLES*/

body {
    background: black;
    margin: auto;
}


.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: black;
}

.ht {
    font-size: small;
    display: flex;
    color: #C4DDEB;
}

.text {
    text-decoration: none;
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
    color: #C4DDEB;
}

.latestg {
    display: flex;
    flex-wrap: wrap;
    background: black;
    padding: 100px;
}
.latest {
    font-size: 40px;
    color: #C4DDEB;
    margin: 0;
}

.latep {
    text-align: start;
    align-self: flex-start;
    color: #C4DDEB;
}
 .btn {
    margin: 5px;
    padding: 5px 5px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
    display: flex;
    background-image: linear-gradient(to right, #292929 0%, #7c7c7c  51%, #727266  100%)

 }


.top {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    padding-bottom: 0;
    background: white;
}

.Albums {
    display: flex;
    align-items: baseline;
    padding: 150px;
    padding-top: 0;
    
    background: white;
}

.row {
    flex: 33.33%;
    padding: 5px;
}

 .quote {
     display: flex;
     font-size: 35px;
 }

 .containq {
    display: flex;
    padding: 60px;
    background: rgb(15,56,54);
background: radial-gradient(circle, rgba(15,56,54,1) 0%, rgba(23,23,23,1) 100%);

 }
 .boxb {
     display: flex;
     background: rgb(23,23,23);
    background: linear-gradient(90deg, rgba(23,23,23,1) 0%, rgba(15,56,54,1) 100%);
     background-position: center;
     background-size: contain;
     justify-content: space-around;
     align-content: center;
     padding: 10px;
     border: 2px transparent;
     margin: 40px;
     border-radius: 5px;
 }

 .boxtext {
     display: flex;
     text-align: center;
     width: 75%;
     align-items: center;
     color: #C4DDEB;
 }

 .containb {
     padding: 60px; 
 }

 .shopn {
     display: flex;
     height: 25%;
     align-self: center;
 }

 .shop {
    margin: 5px;
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
    display: flex;
    background-image: linear-gradient(to right, #292929 0%, #7c7c7c  51%, #727266  100%)
    }
  

 .footer {
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: white;
     width: 100%;
 }



  .shop:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

  .btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;

  }
 